/******************Reset*******************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**********Variables***********/

:root {
  --primary-clr: #23E7C7;
  --button-clr: #23E7C7;
  --button-hover: #D1F2ED;
  --kids-explore-bg: #DEFDFC;
  --exh-bg-clr: #F9F9F9;
  --events-young-sci-bg: #FF738F;
  --events-prof-bg: #FAF5F2;
  --events-night-bg: #EFC593;
  --events-energ-bg: #E2FAF9;
  --work-bg: #D9D9D9;
  --gradient: linear-gradient(0deg, #31E8CA 0%, #93F7E7 42.94%, #E2F8F4 79.33%, #FFF 100%);
  --footer-clr: linear-gradient(0deg, #31E8CA 0%, #93F7E7 42.94%, #E2F8F4 79.33%, #FFF 100%);

  --primary-text-clr: #000;
  --font-family: "inter", arial, sans-serif, helvetica;
  --h1: semibold 40px "prompt", arial, sans-serif, Helvetica;
  --h2: semibold 32px "anek latin" arial, sans-serif, Helvetica;
  --h3: semibold 24 "inter" arial, sans-serif, helvetica;
  --p: normal 20px "anek latin" arial, sans-serif, Helvetica;
  --text-clr: #000;

}

  h1 { font-family: "prompt", Arial, Helvetica, sans-serif;}
  h2 {font-family: "anek latin", Arial, Helvetica, sans-serif;}
  h3 {font-family: "inter", Arial, Helvetica, sans-serif;}
  p  {font-family: "inter",Arial, Helvetica, sans-serif;}



.cosmo-image img {
    width: 100%;
    height: auto;
}

.cosmo-image {
    width: 50%;
    height: auto;
    display: inherit;
   
    @media screen and (max-width: 1024px) {
       width: 100%;  
    }  
}

h1 {
    margin-bottom: 1em;
    text-align: center;
}

p {
  margin: .02rem;  
}


.card-parent {
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    padding: 2em;
    
@media screen and (max-width: 1024px){
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    width: 450px;
    height: auto;
    margin-bottom: 2em;
    border: solid .3px rgb(241, 241, 241);
 }  
}


.child-text {
    width: 50%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1em;
    background-color: #F9F9F9;
    font-family: "anek latin";
    padding: 4em;
    border: solid .3px rgb(241, 241, 241);

    @media screen and (max-width: 1024px) {
        width: 400px;
        flex-direction: column;
        align-content: center;
        text-align: center;
        border: none;   
    }    
}



