/******Header/Navbar******/
.header_logo { 
display: flex; 
flex-wrap: none; 
max-width: 180px; 
height: 100%; 
padding: 0rem 2rem; 
} 

.header_logo img { 
width: 100%; 
max-height: 100%; 
} 

.header_container {
    width: 100%;
    max-height: 140px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.navbar_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 6rem;
}

nav ul li {
  list-style: none;
  text-decoration: none;
}

.home_dropdown li{
  position: relative;
}

nav li {
  list-style: none;
  font-family: inter;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
}

nav ul li a {
  font-family: inter;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
}

nav ul li ul {
  display: block;
  position: absolute;
  background-color: white;
}

a {
  color: inherit; 
  text-decoration: none;
}

.home_dropdown {
  display: relative;
  padding: 0 1rem;
}

.home_content {
 display: none;
 position: absolute;
 background-color: white;
 text-align: center;
}

.home_content li {
 padding: 10px 20px;
}

.home_content li:hover {
 color: #23E7C7;
}

.home_dropdown:hover .home_content  {
 display: block;
}

.experience_dropdown {
  display: relative;
  padding: 0 1rem;
  
}

.experience_content {
 display: none;
 position: absolute;
 background-color: white;
 text-align: center;
}

.experience_content li {
 padding: 10px 20px;
}

.experience_content li:hover {
 color: #23E7C7;
}

.experience_dropdown:hover .experience_content  {
 display: block;
}

.news:hover {
  color: #23E7C7;
}
.work:hover {
  color: #23E7C7;
}

/*****home page******/
.welcome {
max-width: 100%;
max-height: 100%;
display: grid;
grid-template-columns: 50% auto;
}

.welcome__content {
width: 100%;
background: #ffffff;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(227, 248, 244, 1) 50%, rgba(35, 231, 199, 1) 100%);
}

.welcome__content img {
width: 100%;
height: 100%;
}

.welcome__content h1 {
color: #000;
font-family: Prompt;
font-size: 72px;
font-style: normal;
font-weight: 700;
}
.welcome__content p {
color: #000;
font-family: "Anek Latin";
font-size: 32px;
font-style: normal;
font-weight: 600;
}




/******************Reset*******************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  li, a {
  gap: 1rem 3rem;
  text-decoration: none;
  color: var(--text-clr);
  list-style: none;
}



/**********Variables***********/

:root {
  --primary-clr: #23E7C7;
  --button-clr: #23E7C7;
  --button-hover: #D1F2ED;
  --kids-explore-bg: #DEFDFC;
  --exh-bg-clr: #F9F9F9;
  --events-young-sci-bg: #FF738F;
  --events-prof-bg: #FAF5F2;
  --events-night-bg: #EFC593;
  --events-energ-bg: #E2FAF9;
  --work-bg: #D9D9D9;
  --gradient: linear-gradient(0deg, #31E8CA 0%, #93F7E7 42.94%, #E2F8F4 79.33%, #FFF 100%);
  --footer-clr: linear-gradient(0deg, #31E8CA 0%, #93F7E7 42.94%, #E2F8F4 79.33%, #FFF 100%);

  --primary-text-clr: #000;
  --font-family: "inter", arial, sans-serif, helvetica;
  --h1: semibold 40px "prompt", arial, sans-serif, Helvetica;
  --h2: semibold 32px "anek latin" arial, sans-serif, Helvetica;
  --h3: semibold 24 "inter" arial, sans-serif, helvetica;
  --p: normal 20px "anek latin" arial, sans-serif, Helvetica;
  --text-clr: #000;

}

  h1 { font-family: "prompt";}
  h2 {font-family: "anek latin";}
  h3 {font-family: "inter";}
  p  {font-family: "inter";}

/****Need this for my styling/Anna*/

.a-main-container {
  max-width: 1728px;
  margin-inline: auto;
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--text-clr);
}

.a-main-wrapper {
  padding: var(--padding-sm);
  flex-grow: 1;
  flex-wrap: wrap;
}

.a-img {
  width: 100%;
  height: auto;
  display: block;
} 

/********************EXPLORE**********************/

.explore_title {
  text-align: center;
  margin-bottom: 2rem;
}
.kids_container, 
.teachers_container,
.researchers_container {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  background-color: var(--kids-explore-bg);
  margin-bottom: 4rem;
  margin-inline: auto;
  border-radius: 2rem;
}

.kids_img, .teachers_img, 
.researchers_img * img {
border-radius: 8px;
width: 100%;
max-width: 36rem;
border-radius: 24px;
position: relative;
display: block;
}

.kids_title {
  position: absolute;
  width: 50%;
  padding: 1rem 3rem;
  background-color: #BDFCF9;
  border-radius: 0.2rem;
  text-transform: uppercase;
  text-align: center; 
  align-self: center;
  z-index: 1;
  white-space: nowrap;
  right: -4rem;
  bottom: -1rem;
}

.teachers_title {
  position: absolute;
  width: 50%;
  padding: 1rem 3rem;
  background-color: #BDFCF9;
  border-radius: 0.2rem;
  text-transform: uppercase;
  text-align: center; 
  align-self: center;
  z-index: 1;
  white-space: nowrap;
}

.researchers_title {
  position: absolute;
  width: 50%;
  padding: 1rem 3rem;
  background-color: #BDFCF9;
  border-radius: 0.2rem;
  text-transform: uppercase;
  text-align: center; 
  align-self: center;
  z-index: 1;
  white-space: nowrap;
}

.kids_text, .teachers_text,
.researchers_text {
  width: 60%;
  max-width: 48rem;
  text-align: center;
  margin-inline: auto;
  margin-top: 2rem;
}

 @media screen and (max-width: 890px) {
  .kids_title {
    width: 100%;
    right: 0;
    font-size: 1.2rem;
  }
    }

.stars_text, 
.sleepover_text {
  margin: 1rem;
}

.holidays {
  background-color: var(--primary-clr);
  max-width: 60%;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin-bottom: 4rem;
  margin-inline: auto;
  border-radius: 2rem;
}
.holiday_title {
  text-align: center;
  margin-bottom: 1rem;
}

/*************FOOTER***********/
footer {
  background: var(--footer-clr);
  min-height: 30vh;
  font-family: "inter", Arial, Helvetica, sans-serif;
}

.logoscont {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: var(--padding-sm);
}

.logo {
  display: flex;
  gap: 1rem;
  margin-inline: auto;
}

.totop {
  display: flex;
  margin-inline: auto;
}

.to-top-text {
  font-family: "inter";
  font-size: 1.2rem;
  font-weight: 700;
}

.infocont {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-inline: auto;
}

.location, .opening, 
.sponsor-title, .newsletter {
  margin-inline: auto;
}

input {
  width: 100%;
  border: none;
  padding: 1rem 0 1rem 0;
  font-family: "inter", Arial, Helvetica, sans-serif;
  border-radius: 0.5rem;
  background: none;
}
input::placeholder {
  color: #000;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-bottom: 1px solid #000;
}

.newsletter-mail {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.footerh3 {
  margin-bottom: 0.5rem;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-m);
}

.sponsor-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.copyright {
  font-size: 0.7rem;
  padding: var(--padding-m);
  display: flex;
  justify-content: space-between;
  margin-inline: auto;  
}


/**************************EXHIBITION********************/
h1 {
  text-align: center;
}
.cards {
  max-width: 98rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  padding: 4rem;
  background-color: var(--exh-bg-clr);
  gap: 2rem;
}

.card {
  display: flex;
  max-width: 63rem;
  justify-content: center; 
}

.card img {
  max-width: 300px;
  border-radius: 0.5rem;
  flex-wrap: wrap;
}

.card-text {
  display: flex;
  flex-direction: column;
  max-width: 27rem;
  align-items: center;
  text-align: center;
}

.card-text h2 {
  margin-bottom: 0.8rem;
}

/****************************EVENTS********************/

.events {
  max-width: 72rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--exh-bg-clr);
  margin-inline: auto; 
}

.section1 {background-color: var(--events-young-sci-bg);}
.section2 {background-color: var(--events-prof-bg);}
.section3 {background-color: var(--events-night-bg);}
.section4 {background-color: var(--events-energ-bg);}

.events-img {
  margin-inline: auto;
  max-width: 72rem;
  overflow: hidden;
  padding-bottom: 2rem;
}

.events-text {
  display: flex;
  flex-direction: column;
  max-width: 72rem;
  padding: 2rem;
}

.events-text h2, .text-info {
  text-align: center;
}


/*********************GET INVOLVED/WORK********************/
.work-get-involved {
  text-align: center;
  margin-bottom: 2rem;
  max-width: 36rem;
  margin-inline: auto;
}

.work-container {
max-width: 98rem;
margin-bottom: 4rem;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto 1fr auto;
grid-template-areas:
"work-text work-img"
"work-title work-title";
}

.work-text {
  grid-area: work-text;
  align-content: center;
  background-color: var(--work-bg);
  padding: 2rem;
}

.work-img, 
.job-img, 
.volunteer-img {
  grid-area: work-img;
}

.donation-section, 
.volunteer-section, .job-section {
  position: relative;
}

.work-title {
  position: absolute;
  grid-area: work-title;
  background-color: #BDFCF9;
  text-align: center;
  padding: 1rem 8rem;
  z-index: 1;
  bottom: -20px;
  left: -200px;
}

.volunteer-title {
  position: absolute;
  grid-area: work-title;
  background-color: #BDFCF9;
  text-align: center;
  padding: 1rem 8rem;
  z-index: 1;
  bottom: -20px;
  left: -180px;
}

.job-title {
  position: absolute;
  grid-area: work-title;
  background-color: #BDFCF9;
  text-align: center;
  padding: 1rem 8rem;
  z-index: 1;
  bottom: -20px;
  left: -160px;
}


 /*********** MEDIA QUIERIES************/

    /*Desktops*/
    @media (max-width: 1728px) {
    }
     /*Tablets*/
    @media (max-width: 1024px) {
    }

     /*Phones*/
    @media (max-width: 600px) {
    }