/******Reset*******/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav, li, a {
  gap: 1rem 3rem;
  text-decoration: none;
  color: var(--text-clr); 
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**********variables***********/

:root {
  --primary-clr: #23E7C7;
  --button-clr: #23E7C7;
  --button-hover: #D1F2ED;
  --kids-explore-bg: #DEFDFC;
  --gradient: linear-gradient(0deg, #31E8CA 0%, #93F7E7 42.94%, #E2F8F4 79.33%, #FFF 100%);
  --primary-text-clr: #000;
  --font-family: "inter", arial, sans-serif, helvetica;
  --h1: semibold 40px "prompt", arial, sans-serif, Helvetica;
  --h2: semibold 32px "anek italic" arial, sans-serif, Helvetica;
  --h3: semibold 24 "inter" arial, sans-serif, helvetica;
  --p: semibold 20px "inter" arial, sans-serif, Helvetica;
  --text-clr: #000;
  --padding-sm: 1rem 3rem;
  --padding-m: 2rem 5rem;
  --footer-clr: linear-gradient(0deg, #31E8CA 0%, #93F7E7 42.94%, #E2F8F4 79.33%, #FFF 100%);
}



/**************************GENERAL HTML STYLE********************/
.container {
  max-width: 1728px;
  margin-inline: auto; 
}

body {
  font-family: var(--font-family);
  color:var(--text-clr);
}

header {
  min-height: 15vh;
  background-color: var(--primary-clr);
  padding: 3em;
}

main {
  padding: var(--padding-sm);
  flex-grow: 1;
  flex-wrap: wrap;
}
/********END OF GENERAL STYLES********/



/********************EXPLORE**********
*************************/
.explore_title {
  text-align: center;
  margin-bottom: 2rem;
}
.kids_container {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 4rem 0;
  background-color: var(--kids-explore-bg);
  margin-bottom: 4rem;
  margin-inline: auto;
  border-radius: 2rem;
}
.kids_title {
  display: inline;
  width: 40%;
  max-width: 24rem;
  padding: 1rem 4rem;
  background-color: #BDFCF9;
  border-radius: 0.2rem;
  text-transform: uppercase;
  text-align: center; 
  align-self: center;
  margin: 1rem;
}

.kids_text {
  width: 60%;
  max-width: 48rem;
  text-align: center;
  margin-inline: auto;
}

.kids_img {
width: 40%;
max-width: 98rem;
border-radius: 24px;
}

.kids_img * {
  border-radius: 8px;
}

.stars_text, .sleepover_text {
  margin: 1rem;
}







/*************FOOTER***********/
footer {
  background: var(--footer-clr);
  min-height: 30vh;
  font-family: "inter", Arial, Helvetica, sans-serif;
}

.logoscont {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: var(--padding-sm);
}

.logo {
  display: flex;
  gap: 1rem;
  margin-inline: auto;
}

.totop {
  display: flex;
  gap: 1rem;
  margin-inline: auto;
}

.infocont {
 
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline: auto;
}

.location, .opening, 
.sponsor-title, .newsletter {
  margin-inline: auto;
}

.links {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.footerh3 {
  margin-bottom: 0.5rem;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-m);
}

.sponsor-name {
  display: flex;
  gap: 1rem;
  margin-inline: auto;
}

.sponsortext {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-inline: auto;
  align-items: flex-end;
}

.copyright {
  font-size: 0.7rem;
  padding: var(--padding-m);
  display: flex;
  justify-content: space-between;
  margin-inline: auto;  
}



/*body {
  min-height: 100vh;
  font-family: "inter", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "navbar navbar navbar navbar"
  "main main main main"
  "footer footer footer footer";
}

nav {
  grid-area: navbar;
  padding: 2em;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1em;
}

main {
  grid-area: main;
  padding: 2em;
}


/****************OLD FOOTER***************/
/*
footer {
  grid-area: footer;
  background: var(--gradient);
  color: var(text-color);
  padding: 6em 4em 2em 4em;
}

.socials{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
}

.ico {
  display: flex;
  gap: 1.5em;
  max-width: 100%;
  height: auto;
}

.totop, a {
  display: flex;
  align-items: center;
  gap: 1.3em;
  text-decoration: none;
  color: #000;
}

.information {
display: flex;
flex: 1;
gap: 6em;
margin: 2em;
}

.info-content {
  display: flex;
  flex-direction: column;
  flex: 1;  
}

.newsletter {
  display: flex;
  border-bottom: 1px solid #000;
}

.newsletter input {
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
  background: transparent;
}

.newsletter button {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.sponsors {
  display: flex;
  flex-direction: column;  
}

.partners {
  font-family: "prompt", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  align-items: center;
}

.partner-text {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  margin: 1em 2em 4em 0;
}

.terms-copy {
  display: flex;
  gap: 1em;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;  
  gap: 1rem; 
}












 /*********** MEDIA QUIERIES************/

    /*Desktops*/
    @media (max-width: 1728px) {
    }
     /*Tablets*/
    @media (max-width: 1024px) {
    }

     /*Phones*/
    @media (max-width: 600px) {
    }